<main class="content">
    <a href='/'>Return to Home</a>

    <h2>Current Students in the Database:</h2>
    <table>
        <thead> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>GPA</th>
            <th>Email</th>
            <th>College</th>
            <th>Gender</th>
            <th>Year in School</th>
            <th>Budget</th>
            <th>Classes Needed Help In</th>
        </thead> 
        <tbody>
            {{#each Students}} 
            <tr> 
                <td>{{firstName}}</td> 
                <td>{{lastName}}</td>
                <td>{{gpa}}</td> 
                <td>{{email}}</td> 
                <td>{{college}}</td> 
                <td>{{gender}}</td>  
                <td>{{yearInSchool}}</td>
                <td>{{tutoringBudget}}</td> 
                <td>{{classesHelpNeededIn}}</td> 
                <td><button onclick="deleteStudent({{id}})">Delete</button></td>
            </tr> 
            {{/each}} 
        </tbody> 
    </table> 

    <h2>Current Tutors in the Database:</h2>
    <table>
        <thead> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Gender</th>
            <th>Age</th>  
        </thead> 
        <tbody>
            {{#each Students}} 
            <tr> 
                <td>{{firstName}}</td> 
                <td>{{lastName}}</td> 
                <td>{{gender}}</td> 
                <td>{{age}}</td>
                <td><button onclick="deleteTutor({{id}})">Delete</button></td>
            </tr> 
            {{/each}} 
        </tbody> 
    </table> 
</main>