<html>
  <main>

    <div class="outerContainer">
      <div class="addContainer">
        <form id='searchStudents' class="form-inline" action='' method='' onkeydown="return event.key != 'Enter';">
          <label> Search Students by First Name</label>
          <input id='studentSearch' type='text' name='studentSearch' value=''>
          <input type="button" id="styledButton" value="Search" onclick="searchStudentsFirstName();">
          <button id="styledButton"><a href="/Students">Reset</a></button>
        </form>
      </div>
    </div>

    <table class="styled-table">
      <thead>
        <tr>
          <th>First Name</th> 
          <th>Last Name</th> 
          <th>GPA</th>
          <th>Email</th>
          <th>College</th>
          <th>Gender</th>
          <th>Year in School</th>
          <th>Budget</th>
          <th>Classes Need Help In</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
        {{#each Students}} 
          <tr> 
            <td>{{firstName}}</td> 
            <td>{{lastName}}</td>
            <td>{{gpa}}</td> 
            <td>{{email}}</td> 
            <td>{{college}}</td> 
            <td>{{gender}}</td>  
            <td>{{yearInSchool}}</td>
            <td>{{tutoringBudget}}</td> 
            <td>{{classesHelpNeededIn}}</td>
            <td><button id="styledButton" onclick="deleteStudent({{studentID}})">Delete</button></td>
            <td><button id="styledButton"><a href="/Students/{{studentID}}">Update</a></button></td>
          </tr> 
        {{/each}} 
    </table>

    <div class="outerContainer">
      <div class="addContainer">
        <h3>Add a New Student</h3>
        <form class="form-inline" action="/Students" method="post">

          <label for="firstName">First Name</label>
          <input type="text" name="firstName" placeholder="Joe">

          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" placeholder="Smith">

          <label for="gpa">GPA</label>
          <input class="numberInput" type="number" step="0.01" min="0" name="gpa" placeholder="3.5">

          <label for="email">Email</label>
          <input type="text" name="email" placeholder="blank@gmail.com">

          <label for="college">College </label>
          <input type="text" name="college" placeholder="Oregon State">

          <label for="gender">Gender</label>
          <input type="text" name="gender" placeholder="Male/Female/Other">

          <label for="yearInSchool">Year in School</label>
          <input class="numberInput" type="number" min="20" name="yearInSchool" placeholder="24">

          <label for="tutoringBudget">Tutoring Budget</label>
          <input class="numberInput" type="number" min="0" name="tutoringBudget" placeholder="15">

          <label for="classesHelpNeededIn">Classes Need Help In</label>
          <input type="text" name="classesHelpNeededIn" placeholder="Science, Math">

          <input type="submit" id="styledButton" value="Submit">
        </form>
      </div>
    </div>

  </main>
</html>