<html>
  <main>

    <div class="searchContainer">
      <form id='searchTutors' action='' method='' onkeydown="return event.key != 'Enter';">
        <label> Search Tutors by First Name</label>
        <input id='tutorSearch' type='text' name='tutorSearch' value=''>
        <input type="button" id = 'searchButton' value="Search" onclick="searchTutorsFirstName();">
        <button><a href="/Tutors">Reset</a></button>
      </form>
    </div>

    <table class="styled-table">
      <thead>
        <tr>
          <th>First Name</th> 
          <th>Last Name</th> 
          <th>Email</th>
          <th>Affiliated Colleges</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Hourly Rate</th>
          <th>Class Expertise</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
        {{#each Tutors}} 
          <tr> 
            <td>{{firstName}}</td> 
            <td>{{lastName}}</td>
            <td>{{email}}</td> 
            <td>{{affiliatedColleges}}</td> 
            <td>{{gender}}</td> 
            <td>{{age}}</td>  
            <td>{{hourlyRate}}</td>
            <td>{{classExpertise}}</td> 
            <td><button onclick="deleteTutor({{tutorID}})">Delete</button></td>
            <td><button><a href="/Tutors/{{tutorID}}">Update</a></button></td>
          </tr> 
        {{/each}}  
    </table>

    <div class="addContainerTitle">
      <h3>Add a new tutor</h3>
      <div class="addContainer">
        <form class="form-inline" action="/Tutors" method="post">

          <label for="firstName">First Name</label>
          <input type="text" name="firstName">

          <label for="lastName">Last Name</label>
          <input type="text" name="lastName">

          <label for="email">Email</label>
          <input type="number" name="email">

          <label for="affiliatedColleges">Affiliated Colleges</label>
          <input type="text" name="affiliatedColleges">

          <label for="gender">Gender</label>
          <input type="text" name="gender">

          <label for="age">Age</label>
          <input type="number" name="age">

          <label for="hourlyRate">Hourly Rate</label>
          <input type="number" name="hourlyRate">

          <label for="classExpertise">Class Expertise</label>
          <input type="text" name="classExpertise">

          <input type="submit" id="submitButton" value="Submit">
        </form>
      </div>
    </div>
    
  </main>
</html>